.note.container {
  display: block;
  flex-direction: column;
  background-color: rgb(6, 1, 34);
  border-radius: 12px;
}

.note.container .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(46, 7, 136);
  padding: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.note.container h3 {
  margin: 0;
}

.note.container .content {
  padding: 12px;
}

.note.container span {
  padding-left: 12px;
  padding-bottom: 6px;
}
